
<div class="ui grid">
   <div class="eight wide column">
       <center><img src='/static/images/1indawo1.svg' style="width:100%"/></center>
   </div>
   <div class="eight wide column" style="text-align:justify;vertical-align: center;" >
       <h3 style="margin-top:50px;">La borne Indawo</h3>
       <p>La borne interpelle Romain de part sa forme atypique, la mention de contact NFC sur son casque orange l'invite à présenter son smartphone pour recevoir de l'information et s'abonner au chantier. </p>
   </div>
</div>