
<div class="ui grid">
   <div class="eight wide column" style="text-align:justify;vertical-align: center;" >
       <h3 style="margin-top:50px;">Une information en continu</h3>
       <p>Les personnes qui verront la borne dans la rue n'auront qu'à venir mettre en contact leur smartphone et ils recevront l’information concernant le chantier. Ils seront également invités à s’inscrire à un flux d’information afin de pouvoir continuer à être informé sur l’évolution du chantier. 
       Ce flux de données pourra prendre un certain de forme pour mieux s’adapter aux différents besoins des usagers (mail, twitter, rss, …).</p>
   </div> 
   <div class="eight wide column">
       <center><img src='/static/images/1man1.png' style="width:100%"/></center>
   </div>
</div>