
<div class="ui grid">
   <div class="eight wide column" style="text-align:justify;vertical-align: center;" >
       <h3 style="margin-top:200px;">Aide pour les commerçants</h3>
       <p>Il sera 
       également proposé à Romain d'en savoir plus concernant les 
       commerces environnant toujours ouvert. Ceci permettrait d’aider les commerçants situés à 
       proximité d’un chantier à réduire l’impact de ce dernier sur leurs chiffres 
       d’affaire.</p>
   </div> 
   <div class="eight wide column">
       <center><img src='/static/images/indawo_app1.svg' style="width:500px;"/></center>
   </div>
</div>