
<div class="ui grid">
   <div class="eight wide column">
      <img src='/static/images/1worker1.svg' style="width:100%;"/>
   </div>
   <div class="eight wide column" style="text-align:justify;vertical-align: center;" >
       <h3 style="margin-top:100px;">Faciliter la transmission d'informations depuis le chantier vers les riverains</h3>
       <p>La borne contient les informations les plus à jour possible car le chef 
       de chantier peut rafraichir ses information très simplement via une tablette tactile. Il lui suffit 
       de corrigé les informations suggérées par la borne et de lui transmettre. 
       De plus, s’il veut envoyer une information précise aux riverains, 
       il lui suffit, avec sa tablette, de l’enregistrer dans la borne, 
       les prochain riverain qui toucherons la borne avec leur smartphone la verront 
       et tous ceux qui se sont inscrit aux flux d’information la recevront.</p>
   </div> 
</div>