
<div class="ui grid">
   <div class="eight wide column">
       <center><img src='/static/images/1man1.png' style="width:100%"/></center>
   </div>
   <div class="eight wide column" style="text-align:justify;vertical-align: center;" >
       <h3 style="margin-top:50px;">La borne Appia</h3>
       <p>Reconnaissable principalement par les ouvriers du chantier, la borne Appia intéragit avec les usagers de manière transparente, aucun contact n'est nécessaire. Elle diffuse l'information directement vers les systèmes de navigation embarqués et s'intègre à des services comme Waze, Google Map ou Coyotte. Elle annonce son activité aux professionnels qui l'entourent via des signaux lumineux. La captation de données débute deux semaines avant le chantier et se poursuit sur tout sa durée. </p>
   </div>
</div>