
<div class="ui grid">
   <div class="eight wide column">
       <center><img src='/static/images/2car1.png' style="width:100%"/></center>
   </div>
   <div class="eight wide column" style="text-align:justify;vertical-align: center;" >
       <h3 style="margin-top:50px;">Les automobilistes</h3>
       <p>Tout en restant au volant, les conducteurs sont informés sur les chantiers sur leur chemin. Appia les accompagnent afin de les contourner. 
       De nombreuses voitures ont déjà un GPS intégré, mais de plus en plus de voiturs vont s'équiper de systèmes embarqués tel que Android car ou car Play.</p>
   </div>
</div>