
<div class="ui grid">
   <div class="eight wide column">
       <center><img src='/static/images/2dust1.svg' style="width:100%"/></center>
   </div>
   <div class="eight wide column" style="text-align:justify;vertical-align: center;" >
       <h3 style="margin-top:50px;">Captation de données</h3>
       <p>
          La borne Appia est équipée de capteur de poussières, de bruits, de vibrations et d’odeurs. Ces données permettent de mesurer 
          l’impact du chantier sur son environnement. De cette manière,
          dans un futur proche, les entreprises de travaux publics pourront faire valoir leur capacité à mener des chantiers à haute qualité environnementale. 
       </p>
   </div>
</div>