
<div class="ui grid">
   <div class="eight wide column">
       <center><img src='/static/images/2worker1.png' style="width:100%"/></center>
   </div>
   <div class="eight wide column" style="text-align:justify;vertical-align: center;" >
       <h3 style="margin-top:50px;">Les Professionnels</h3>
       <p>La borne est mise à jour par les professionnels, chef de chantier, conducteur travaux et géomètre afin de transmettre avec précision la meilleure information possible portant sur les déplacements aux abords du chantier.   </p>
   </div>
</div>