

<div id="{{card.id}}" class="ui card fluid " height=0.1 style="margin-left:5%;width:90%;">
  <div class="cardContent" style={{card.topstyle}}>
    <p class="resize" height=0.01></p>
    <span class="" height=0.03 >{{card.title|safe|capfirst}}</span>
    <span class="" height=0.02 >{{card.subtitle|safe|capfirst}}</span>
  </div>
  {% if card.divider == 'on' %}<div class="ui divider" style="margin-left:2%;margin-right:2%;"></div>{% endif %}
  <div class="cardContent" {{card.bottomstyle}}>
    <span class="" height=0.02 >{{card.header|safe|capfirst}}</span>
    <span class="" height=0.02 >{{card.content|safe|capfirst}}</span>
    <p class="resize" height=0.01> </p>
  </div>
</div>  