	<style type="text/css">
		body {
			/*background-color: orange;*/
			font-family: 'Roboto', sans-serif;
		}	
		h1 {
		  color: #5050f0;
		  font-weight: 300;
		}
		h2 {
		  color: #505050;
		  font-weight: 300;
		}
		h3 {
		  color: #a0a0a0;
		  font-weight: 300;
		}
		em {
		  color: #5050f0;
		  font-weight: 300;
		  font-style: normal;
		}
		.content {
		  color: #000080;
		  font-weight: 300;
		}
	</style>
  
  {% include "menu.html" %}
	
  <div class="pusher">
  	
  	{% include "header.html" %}
  	
		<a href="subscrib"><div class="ui button huge circular icon orange sticky bottom myButton" >
			<i class="home icon large white"></i>
		</div></a>
		
		<div  class="cards"  id="context" style="margin-top:75px">
	  	{% for el in data %}
	  		{% include "card.html" with card=el %}
		  {% endfor %}
		</div>
		
	
  </div>
	
	<script src="/static/slowscrolltoancre.js"></script>
	<script>
	
		function openmenu() {
			$('.sidebar')
			  .sidebar('setting', {
			  		transition: 'push',
			  		onChange: function(){
			  			$('.menubutton').transition('fade');
			  		}
			  	})
			  .sidebar('toggle');
		}
		
		$(function() {
			
			$('.sidebar')
			  .sidebar('setting', 'transition', 'push');
			
			$('.ui.sticky')
			  .sticky({
			    context: '#context'
			  })
			;
			
			$('.myButton').attr('style','margin-left:'+(window.screen.width - 0.22*window.screen.width)+'px;margin-top:'+(window.screen.height - 0.22*window.screen.height)+'px;');
			
			slowscrolltoancre();
			
			$( "svg" ).each(function(index) {
				
					var parent = $(this).parent();
					$(this).attr('class', parent.attr('class'));
					//parent.attr('class','');
					
				});
				
		});
		
	</script>