<div class="ui secondary pointing menu sticky concept {{n}} inverted" style="margin-top:0px; padding-top:0px">
	<img src="/static/concept{{n}}_menu.svg" style="position:absolute;top:-1px;width:100%"/>
	<a class="ui item" style="margin-top:25px; margin-left:10px" onclick="showc('none');">
      <i class="left arrow big icon"></i>
  </a>
  <div id="{{n}}scrollmenu" class="right menu" style="margin-top:30px">
    <a class="ui active item" href="#{{n}}_start">
      Contexte
    </a>
    <a class="ui item" href="#one_laborne">
      La borne
    </a>
    <a class="ui item" href="#one_partage">
    	L'information
    </a>
    <a class="ui item" href="#one_appli">
    	Application
    </a>
    <a class="ui item" href="#one_persona">
    	Scénario
    </a>
    <a class="ui item" href="#one_interet">
    	Interêt
    </a>
    <a class="ui item" href="#one_azerty">
    	    
    </a>
  </div>
</div>

<div id="contextone">

	<div>
		<img src="/static/images/indawo_head.png" style="width:100%"/>
	</div>
	
	<div id="one_pourquoi" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;">
		<h4>Pourquoi ?</h4>
		<p class="text">
			Être riverain d’un chantier peu très vite devenir une gêne des plus importante au quotidien. 
			Tout déplacement devient laborieux, il est difficile de trouver à se garer près de chez soi, 
			le bruit est constant au long de la journée, tout comme la poussière et les vibrations. De plus 
			les riverains ne sont jamais à l’abris d’une coupure soudaine d’électricité, d’eau ou de gaz ou 
			bien même d’accès à leur logement, même temporaire.	Une communication papier est mise en place 
			ainsi qu’une réunion d’avant chantier avec les entreprises, et la majorité des coupures volontaires 
			de réseau ou de voie de circulations sont programmées en accord avec la préfecture. Mais ces actions
			touchent un public très restreint, très peu sont les riverains qui prennent la peine de se déplacer 
			et une fois le chantier activé, la proportion des riverains informés s’en trouve très réduite.
		</p>
	</div>
	
	<div id="one_pourqui" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;padding-bottom:50px;">
		<h4>Pour qui ?</h4>
		<p class="text">
			Ce service s’adresse avant tout aux riverains qui sont les premiers confrontés 
			au chantier et dont l’accès constant à l’information tout au long du chantier et non pas à un moment 
			donné et un enjeu important dans l’adaptation de leur quotidien et leur acceptation.
			L’entreprise est en charge de la diffusion de l’information afin d’assurer un bon déroulement du 
			chantier sans problèmes de contestations dû à un manque de connaissance ou à des incidents mal gérés.
			Une fois de plus l’entreprise se met au service de l’usager sans que cela ne représente un travail 
			supplémentaire trop conséquent pour elle. 
		</p>
	</div>
	
	<div id="one_comment" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;padding-bottom:50px;">
		<h4>Comment ?</h4>
		<p class="text">Indawo est une borne communicante placée dans le périmètre d’un chantier et qui transmet 
		de l’information aux passants qui le désirent grâce à la technologie NFC.  Un simple contact de votre smartphone 
		auprès de la borne vous permet d’accéder à l’application web et de vous abonner au flux de données. La borne est mise à 
		jour par l’entreprise en synchronisant les informations qu’elle souhaite partager aux riverains. Indawo diffuse aussi 
		l’information via l’affichage public et les réseaux sociaux pour toucher une cible plus grande. 
	</p></div>
	
	<div id="one_laborne" style="text-align:left;padding-right : 10%;padding-left : 10%;background-color:#f2f2f2;">
		<div class="ui grid">
			<div class="nine wide column" style="margin-top:50px;">
				<h4>La Borne</h4>
				<p class="text">
					Indawo prend une forme un peu ronde rappelant un petit bonhomme avec un casque de chantier. Son but premier 
					est vraiment d’interpeller le passant afin qu’il s’en approche et cherche à comprendre la raison de sa présence ici.
					Une mention NFC sur le casque, invite alors l’utilisateur à approcher son téléphone de celui-ci avant de se voir recevoir 
					l’information sur son smartphone. 
					Nous avons pris le parti d’un ton un peu décalé afin de contraster avec le sérieux du métier en offrant une borne qui force le sourire tout en rappelant instantanément l’image d’un ouvrier de chantier. 
				</p>
			</div>
			<div class="seven wide column">
				<center><img src="/static/images/indawo_born_NFC.png" style="width:75%; margin-top:50px;"/><center>
			</div>
		</div>
	</div>
	
	<div style="text-align:left;">
		<img src="/static/images/affichage.png" style="width:100%;"/>
	</div>
	
	<div id="one_partage" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;padding-bottom:50px;">
		<div class="ui grid">
			<div class="nine wide column">
				<h4>Partage de l’information</h4>
				<p class="text">
					L’information est diffusée auprès des usagers grâce à la technologie NFC qui permet 
					une communication sans fil à courte portée. L’idée est de ne pas être trop intrusif vis à vis de 
					l’usager en ne forçant pas la réception de l’information vers son smartphone comme il est possible de le faire en 
					Bluetooth LE. Ici c’est à lui que revient l’action d’approcher son smartphone afin de recevoir le flux d’information, 
					ainsi on est certain que l’interaction entre l’homme et la machine est volontaire et consciemment exécutée.
					Dès lors l’usager se retrouve abonné au service qui lui fournit les raisons du chantier, le calendrier des travaux, les 
					incidents détectés et leur statuts ("coupure câble télécom, en cours de réparation"), des informations sur l’entreprise mandatée, 
					les parkings disponibles à proximité,  ou encore les déviations.
					La borne récupère un maximum d’information d’elle-même ce qui permet aux professionnels du chantier de n’avoir plus qu’à valider 
					ou non l’information via leurs tablettes. L’entreprise soigne son image en facilitant l’accès à l’information pour les usagers.
					Enfin afin de toucher une population plus large (non possesseur de smartphone NFC) nous pensions diffuser les informations basiques via l’affichage public (la durée et la raison par exemple). L’échange entre la borne et l’affichage se ferait par transmission 3G ou Bluetooth (à définir).
				</p>
			</div>
			<div class="seven wide column">
				<center><img src="/static/images/indawo_born_NFC_contact.png" style="width:70%; margin-top:100px;"/></center>
			</div>
		</div>
	</div>
	
	<div id="one_source" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;padding-bottom:50px;">
		<div class="ui grid">
			<div class="sixteen wide column">
				<h4>Source de l’information</h4>
				<p class="text">
					Après plusieurs échanges avec les professionnels, il nous est apparu que avant même les collectivités, 
					c’était bien l’entreprise qui avait l’information au plus près de la réalité du terrain. L’entreprise dispose de
					toutes les connaissances possible afin d’informer au mieux les riverains. Si le chantier prend du retard c’est elle 
					qui dispose de cette information, si un cable se trouve coupé, c’est encore elle qui est en première ligne. De ce constat
					il nous est apparu évident que c’était donc à elle de communiquer auprès des riverains afin d’avoir une information qualitative
					qui n’est pas simplement issu des objectifs de départ mais qui évolue avec le temps. 
					Plusieurs personnes sur et autour du chantier sont aujourd’hui envisagés dans la transmission de l’information, que ce soit le 
					chef de chantier pour les accidents et la mise à jour quotidienne de la borne, le conducteur travaux dont la synchronisation du
					logiciel de planning permettrais une connaissance en temps réel de l’avancée du chantier, ou encore le géomètre qui dispose des
					plans exactes. 
				</p>
			</div>
		</div>
	</div>
	
	<div style="text-align:left;">
		<img src="/static/images/geo.png" style="width:100%;"/>
	</div>
	
	<div id="one_appli" style="text-align:left;padding-right : 10%;padding-left : 10%;background-color:#f2f2f2;margin-bottom:50px;padding-bottom:50px;">
		<div class="ui grid">
			<div class="eight wide column">
				<h4>Application</h4>
				<p class="text">
					Le contact avec la borne NFC permet à l’application de tout de suite se géolocaliser sur une carte ou 
					elle pourra identifier précisement le chantier. 
					Nous avons fait le choix d’une application web afin de facilement permettre son ouverture sur n’importe quel
					plateforme, sans avoir besoin d’installer une application dédiée. 
					La navigation s’effectue principalement à partir de la carte et d’un menu contextuel qui s’adapte à chaque chantier 
					en offrant un contenu personnalisé. Les informations majeurs sont bien sûr visible d’un premier coup d’oeil, 
					soit la raison et la durée des travaux. On laisse alors le choix à l’utilisateur de s’abonner au chantier ou non
					afin de continuer à recevoir l’information via une newsletter quotidienne ainsi que via un service de notification en cas 
					d’évenements impromptus.
				</p>
			</div>
			<div class="eight wide column">
				<center><img src="/static/images/inter_indawo.png" style="width:100%; margin-top:150px;"/></center>
			</div>
		</div>
	</div>
	

	<div id="one_persona" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;padding-bottom:50px;">
		<div class="ui grid">
			<div class="seven wide column">
				<center><img src="/static/images/romain.png" style="width:80%; margin-top:120px;"/></center>
			</div>
			<div class="nine wide column">
				<h4>Persona</h4>
				<p class="text">Romain, 21 ans, étudiant en droit. </br>
				Nantes.</br></br>
				À l’approche de ses examens Romain passe beaucoup de temps à réviser chez lui, afin de comprendre au mieux ses cours 
				il à besoin d’être un maximum au calme. Il essaye d’organiser sa vie au mieux pour être le plus éveillé possible, 
				en faisant attention à son sommeil et en allant courir chaque matin après le reveil. Comme tout beaucoup de jeune il
				reste à l’écart des informations relatives à ce qui se passe en ville, Ce n’est pas dans son souhait d’aller chercher 
				l’information de lui même. Toutefois il ne serait pas contre le fait d’être mieux informé, sur son portable par exemple 
				ou via les outils qu’il utilise au quotidien comme Twitter. 
				</p>
			</div>
		</div>
	</div>
	
	<div id="one_journey" style="text-align:left;background-color:#4CAC50;margin-bottom:50px;padding-bottom:50px;">
	
	<h4 style="color:white;margin-left:10%">Journey Map</h4>
		<img src="/static/images/indawo_journey.png" style="margin-left:10%;width:70%;"/>
	</div>
	
	<div id="one_mes" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;">
		<h4>Mise en situation</h4>
	</div>
	
	<div id="{{n}}test" class="ui grid concept {{n}} background">
	{% for r in 'xxxxxxxxxxx' %}
	<div class="row">
	{% for c in 'xxxxxxxxxxxxxxxx' %}
	<div class="column"><!--->
		<span class="concept {{n}} case{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }} hide"/><br/>
		<!--({{ forloop.parentloop.counter0 }},{{ forloop.counter0 }})-->
		<br/>
		</div>
		{% endfor %}
		</div>
		{% endfor %}
		</div>
		
		<div class='elements'>
		{% for e in data %}
		<div class="popup toggle div_{{e.2}}" 
		onclick=" $('.info_{{e.2}}.modal').modal('setting', 'transition', 'horizontal flip').modal('show');" 
		data-html='{{e.6}}' 
		style='position: absolute; width:100%; transform: scale({{e.4}}) rotate({{e.5}}deg);'></div>
		{% endfor %}
	</div>
	
	<div id="one_interet" style="text-align:left;padding-right : 10%;padding-left : 10%;background-color:#f2f2f2;margin-bottom:50px;padding-bottom:50px;">
				<h4>Interêt</h4>
				<p class="text">
					Ce concept s’articule au plus près de la zone de travaux, il s’adresse avant tout aux riverains qui sont les premiers impactés par la 
					présence d’un chantier. L’interêt pour les entreprises est de faire comprendre la raison de leur action et accompagner au mieux le riverain dans
					cette période qui pourrai lui paraitre difficile. L’entreprise soigne ici son image en montrant de l’interêt pour ce qui l’entoure et s’attire donc les
					faveurs des riverains qui seront moins enclins à la protestation par la suite. Les ouvriers présent sur le chantier peuvent donc travailler de manière 
					optimale sans risquer de se voir interpellé en permanence pour une demande d’information ou par mécontentement. 
					Le principal aléa réside de la démocratisation encore restreinte de la norme NFC, d’où l’alternative proposée des panneaux d’affichage électroniques et des réseaux sociaux.
				</p>
	</div>
	
	
	<div id="one_next" style="text-align:left;background-color:#4CAC50;">
		<a onclick="showc('two');"><img src="/static/images/appiaW.svg" style="margin-left:80%;width:20%;"/></a>
	</div>
		
</div>