{% for e in data %}
	<div class="ui inverted {{e.8}} info_{{e.2}}">
		<i class="close icon"></i>
		<div class="content">
		  		{% include e.9 %}
		</div>
	</div>	
{% endfor %}

<div id="{{n}}_start" class="pusher concept {{n}} content" style="position: absolute;">
		
	
	{% if n == 'one' %}
		{% include "conceptone.html" %}
	{% elif n == 'two' %}
		{% include "concepttwo.html" %}
	{% elif n == 'three' %}
		{% include "conceptthree.html" %}
	{% endif %}

	
</div>
	
<script>

	$(function() {
		
		// Cache selectors
		{{n}}_topMenu = $("#{{n}}scrollmenu");
		{{n}}_topMenuHeight = {{n}}_topMenu.outerHeight()+15;
		
		// All list items
		{{n}}_menuItems = {{n}}_topMenu.find("a");
		
		// Anchors corresponding to menu items
		{{n}}_scrollItems = {{n}}_menuItems.map(function(){
			var item = $($(this).attr("href"));
			if (item.length) { return item; }
			});
		
		
		// Bind click handler to menu items
		{{n}}_menuItems.click(function(e){
			var href = $(this).attr("href"),
			offsetTop = href === "#" ? 0 : $(href).offset().top-{{n}}_topMenuHeight-100;
			$('body, html').animate({
         scrollTop: offsetTop
		     }, 800);
		     {{n}}_menuItems.removeClass("active");
				 $(this).addClass("active");
		     return false;
			});
		
		
		// Bind to scroll
		$(window).scroll(function(){
			// Get container scroll position
			var fromTop = $(this).scrollTop()+{{n}}_topMenuHeight;
			
			// Get id of current scroll item
			var cur = {{n}}_scrollItems.map(function(){
				if ($(this).offset().top < fromTop+150) {
					return $(this); 
				}
			});
			
			// Get the id of the current element
			cur = cur[cur.length-1];
			var id = cur && cur.length ? cur[0].id : "";
			
			if ({{n}}_lastId !== id) {
				{{n}}_lastId = id;
				// Set/remove active class
				{{n}}_menuItems.removeClass("active");
				{{n}}_menuItems.filter("[href=#"+id+"]").addClass("active");
			}
			});
		
{% for e in data %}
		$.get("/static/images/{{e.3}}", function(data) {
        var $svg = $(data).find('svg');
        $svg.attr('id', 'svg_{{e.2}}');
      	$svg.attr('class', 'popup clickabe');
			  $svg.attr('onmouseenter','grow($(this))');
			  $svg.attr('onmouseleave','ungrow($(this))');
			  var $colorItem = $svg.find('.mycolor');
			  if(typeof $colorItem.prop("tagName") === 'undefined') {
			  	//$svg.attr('fill','{{e.7}}');
			  	//$svg.attr('stroke','#000000');
			  } 
			  else {
			  	//$colorItem.attr('fill','{{e.7}}');
			  	//$colorItem.attr('stroke','#000000');
			  }
          $('.div_{{e.2}}').append($svg);
          $svg.find('g').animate({svgTransform: "scale(0.8)"}, 1, function() {});
          $svg.parent().offset($('.concept.{{n}}.case{{e.0}}{{e.1}}').offset());
          $svg.parent().offset($('.concept.{{n}}.case{{e.0}}{{e.1}}').offset());
		});
			
		$('.info_{{e.2}}.sidebar').first()
		  .sidebar('attach events', '.toggle.div_{{e.2}}')
		 ;
			
		{% endfor %}
		
		$('.toggle')
		  .removeClass('disabled');
	
 });
 
 
	
</script>