<div class="ui secondary pointing menu sticky concept {{n}} inverted" style="margin-top:0px; padding-top:0px">
	<img src="/static/concept{{n}}_menu.svg" style="position:absolute;top:-1px;width:100%"/>
	<a class="ui item" style="margin-top:25px; margin-left:10px" onclick="showc('none');">
      <i class="left arrow big icon"></i>
  </a>
  <div id="{{n}}scrollmenu" class="right menu" style="margin-top:30px">
    <a class="ui active item" href="#{{n}}_start">
      Contexte
    </a>
    <a class="ui item" href="#two_laborne">
      La borne
    </a>
    <a class="ui item" href="#two_partage">
    	L'information
    </a>
    <a class="ui item" href="#two_persona">
    	Scénario
    </a>
    <a class="ui item" href="#two_interet">
    	Interêt
    </a>
    <a class="ui item" href="#two_azerty">
    	    
    </a>
  </div>
	
</div>

<div id="contexttwo">
	
	<div>
		<img src="/static/images/appia_head.png" style="width:100%"/>
	</div>
	
	<div id="two_pourquoi" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;">
		<h4>Pourquoi ?</h4>
		<p class="text">En temps qu’automobiliste la circulation en ville devient très vite un réel parcours du combattant lorsque des chantiers
		viennent y prendre place en plus du traffic actuel. La communication mise en place en ville se fait encore aujourd’hui trop peu en amont de la zone 
		de travaux et les déviations sont très souvent mal appréhendées. 85% des français avouent encore être s’énerver au volant pourtant  ils sont tout 
		autant à penser qu’en réduisant ce nombre les routes serait plus sûrs. Malgrés eux les chantiers sont une source non négligeable d’énervement au 
		volant et nous réagissons tous différement face à eux. </p>
	</div>
	
	<div id="two_pourqui" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;padding-bottom:50px;">
		<h4>Pour qui ?</h4>
		<p class="text">Notre service s’adresse bien évidemment en premier lieu aux automobilistes pour qui les déplacement doivent 
		être les plus fluides possibles, mais aussi particulièrement aux entreprises qui grâce à ce système n’ont plus besoin de passer
		beaucoup de temps à faire la circulation, le problème étant traité bien en amont. 
		</p>
	</div>
	
	<div id="two_comment" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;padding-bottom:50px;">
		<h4>Comment ?</h4>
		<p class="text">Une borne de géolocalisation interagissant directement avec les automobilistes afin de faciliter et fluidifier 
		leurs déplacements à l’approche de chantiers. L’idée est de vraiment géolocaliser avec précision l’emplacement du chantier et 
		sa zone d’influence au sein de laquelle la circulation sera complexe.
		Plus les chantiers seront équipé de cette borne, plus la circulation de la ville sera fluide.</p>
	</div>
	
	<div id="two_laborne" style="text-align:left;padding-right : 10%;padding-left : 10%;">
		<div class="ui grid">
			<div class="nine wide column" style="margin-top:50px;">
				<h4>La Borne</h4>
				<p class="text">La borne n’a ici aucun besoin d’être vu par les usagers, elle est simplement disposée sur le chantier afin de 
				valider son activité et de transmettre les données. Sa forme est imaginée de façon à se fondre dans le mobilier habituel des 
				travaux publics, tout en étant rapidement identifiable, notamment via les signaux lumineux qui lui est possible d’afficher, 
				afin de, par exemple, afficher son statut (fermeture partielle ou complète de rue, seuil sonore atteint,...)
				Afin d’éviter les vols elle est ancrée dans le sol grâce à un système d’ancrage temporaire sur lequel elle vient se clipser.
				Un patch RFID permet en cas de mouvement de la borne d’avertir instantanément une personne de l’entreprise via une alerte sur son smartphone. 
				La borne est équipée d’un système GPS et 3G afin d’assurer une géolocalisation précise du chantier et de sa zone d’influence. 
				Des capteurs de son, vibration, particules fines et olfactifs permettent d’assurer la captation de données environnementales. </p>
			</div>
			<div class="seven wide column">
				<center><img src="/static/images/appia_born.png" style="width:75%; margin-top:50px;"/><center>
			</div>
		</div>
	</div>
	
	<div style="text-align:left;">
		<img src="/static/images/appia_img1.png" style="width:100%;margin-bottom:50px;padding-bottom:50px;"/>
	</div>
	
	<div id="two_partage" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;padding-bottom:50px;">
				<h4>Transmission de l’information</h4>
				
				<p class="text">Plutôt que de développer une plateforme dédiée nous avons ici décidé de nous orienter vers une solution
				d’intégration à l’existant grâce à des systèmes comme Android Auto ou Car Play qui devraient se démocratiser dans l’automobile. 
				Offrant un système homogène entres les marques et permettant une communication précise et ciblée, L’automobiliste verrait s’afficher 
				sur son système embarqué les chantiers à proximité, la raisons de ces travaux, l’entreprise mandatée et bien sûr un accompagnement 
				dans le contournement de cet obstacle, mais aussi une aide au parking. 
				Afin de palier à la non présence de système de navigation dans les voitures les plus anciennes, la solution envisagée porte sur des 
				services disposant d’une communautée déjà importante sur smartphone comme Waze ou Coyotte dont l’ajout de fonctionnalités autour des 
				travaux serait un plus non négligeable dans la qualité de service offert à leurs communautés.
				Le but est de pouvoir afficher sur ce genre de services des informations tel que la zone d’influence du chantier ainsi que sa durée 
				estimé le plus simplement possible. Les professionnels sont également intéressés par pouvoir promouvoir leur entreprise en indiquant 
				qu’ils sont maître d’œuvre de tel ou tel chantier.
				</p>
	</div>
	
	<div id="two_source" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;padding-bottom:50px;">
	<h4>Source de l’information</h4>
	
	<p class="text"> Après plusieurs échanges avec les professionnels, il nous est apparu que avant même les collectivités, c’était bien 
	l’entreprise qui avait l’information au plus près de la réalité du terrain. L’entreprise dispose de toutes les connaissances possible 
	afin d’informer au mieux les riverains. Si le chantier prend du retard c’est elle qui dispose de cette information, si un cable se trouve 
	coupé, c’est encore elle qui est en première ligne. De ce constat il nous est apparu évident que c’était donc à elle de communiquer auprès 
	des usagers afin d’avoir une information qualitative qui n’est pas simplement issue des objectifs de départ mais qui évolue avec le temps. 
	Plusieurs personnes sur et autour du chantier sont aujourd’hui envisagés dans la transmission de l’information, que ce soit le chef de 
	chantier pour les incidents et la mise à jour quotidienne de la borne, le conducteur travaux dont la synchronisation du logiciel de planning 
	permettrais une connaissance en temps réel de l’avancée du chantier, ou encore le géomètre qui dispose des plans exactes. 
	</p>
	
	</div>
	
	<div style="text-align:left;">
		<img src="/static/images/appia_img2.png" style="width:100%;margin-bottom:0px"/>
	</div>
	
	<div id="two_appli" style="text-align:left;padding-right : 10%;padding-left : 10%;background-color:#E86C44;bmargin-bottom:50px;padding-bottom:50px;">
				<h4 style="color:white;">Captation de données</h4>
				<p class="text" style="color:white;">Nous souhaitons développer une sorte de label de chantiers à hautes qualités environnementales. 
				Fournir des informations  concernant les nuisances sonores, les vibrations et la qualité de l’air, ou encore les odeurs dégagées. 
				Actuellement aucune communication n’a lieu sur ce point car ce n’est pas encore obligatoire. C’est peut être un peu jeune mais à l’avenir 
				cela peut être nécessaire pour un chantier d’assurer une certaine image de marque environnementale sur les nuisances accompagnant un chantier.
				Le plot disposé sur le site du chantier est équipé de capteurs lui permettant d’effectuer la captation des données. Installé une à deux semaines 
				avant il dispose d’un temps d’adaptation afin d’étaloner les mesures permettant ainsi de réellement discerner l’impact du chantier sur l’environnement direct. 
				</p>
	</div>
	

	
	<div id="two_persona" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;padding-bottom:50px;">
		<div class="ui grid">
			<div class="nine wide column">
			<h4>Persona</h4>
				<p class="text">Raphaelle, 41 ans, Directrice des ventes. </br>
				Rennes. </br></br>
				Directrice des ventes dans une grande enseigne de produit pharmaceutique, elle est en permanence amenée à se déplacer 
				en voiture afin de se rendre aux multiples rendez vous qui compose sa journée entre Rennes et Nantes. L’optimisation de ses temps
				de déplacement est quelque chose de primordiale pour elle. Sa voiture est équipé d’un système de navigation qui lui permet de se rendre facilement
				à ses points de rendez vous. Toutefois elle n’est jamais à l’abri de la présence d’un chantier sur son chemin qui ne sera pas indiqué et dont le 
				contournement lui prendra un certain temps. Le temps pour elle d’arriver en retard et peut être de perdre un client. Son souhait est donc de trouver
				un service lui permettant d’éviter facilement ce chantier et d’arriver à temps sur son lieu de réunion.</p>
			</div>
			<div class="seven wide column">
				<center><img src="/static/images/raph.png" style="width:80%; margin-top:120px;"/></center>
			</div>
		</div>
	</div>
	
	<div id="two_journey" style="text-align:left;background-color:#E86C44;margin-bottom:50px;padding-bottom:50px;">
	
	<h4 style="color:white;margin-left:10%">Journey Map</h4>
		<img src="/static/images/appia_journey.png" style="margin-left:10%;width:70%;"/>
	</div>
	
	
	<div id="two_mes" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;">
		<h4>Mise en situation</h4>
	</div>
	
	<div id="{{n}}test" class="ui grid concept {{n}} background">
	{% for r in 'xxxxxxxxxxx' %}
	<div class="row">
	{% for c in 'xxxxxxxxxxxxxxxx' %}
	<!--{% if forloop.parentloop.counter0|divisibleby:2 %}
	{% if forloop.counter0|divisibleby:2 %}
	<div class="column" style="opacity: 0.2">
	{% else %} 
	<div class="column black" style="opacity: 0.1">
	{% endif %}
	{% else %}
	{% if forloop.counter0|divisibleby:2 %}
	<div class="column black" style="opacity: 0.1">
	{% else %} 
	<div class="column" style="opacity: 0.2">
	{% endif %}
	{% endif %}-->
	<div class="column"><!--->
	<span class="concept {{n}} case{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }} hide"/><br/>
	<!--({{ forloop.parentloop.counter0 }},{{ forloop.counter0 }})-->
	<br/>
	</div>
	{% endfor %}
	</div>
	{% endfor %}
	</div>
	
	<div class='elements'>
		{% for e in data %}
		<div class="popup toggle div_{{e.2}}" 
		onclick=" $('.info_{{e.2}}.modal').modal('setting', 'transition', 'horizontal flip').modal('show');" 
		data-html='{{e.6}}' 
		style='position: absolute; width:100%; transform: scale({{e.4}}) rotate({{e.5}}deg);'></div>
		{% endfor %}
	</div>
	
			<div id="two_interet" style="text-align:left;padding-right : 10%;padding-left : 10%;bmargin-bottom:50px;padding-bottom:50px;">
				<h4>Interêt</h4>
				<p class="text" >Appia répond à l’une des problématique principale à laquelle sont confrontées 
				les entreprises de travaux publics, la gestion de la circulation et la maitrise des accès au chantier. Grâce à la mise en place de ce service,
				les automobilistes serait directement prévenus de la marche à suivre avant même d’être en contact avec le chantier et ainsi la circulation gagnera en
				fluidité. L’entreprise aura donc moins de ressources tant humaine que économique à mettre dans cette tâche qui en temps normal lui occupe une place d’importance. 
				L’interêt de la captation environnementale est de donner une forme d’éco responsabilité aux entreprises en leurs permettant de communiquer sur un point en particulier, 
				par exemple sur les efforts menés pour réduire les vibrations.  L’écologie est un sujet qui prend toujours plus de place dans notre société et en se positionnant sur
				ce créneau les entreprises de travaux publics équipées pourrais faire preuve d’avant-gardisme vis a vis de leurs concurrents. 
				</p>
	</div>
	
	<div id="two_next" style="text-align:left;background-color:#E86C44;">
		<a onclick="showc('three');"><img src="/static/images/conectW.svg" style="margin-left:80%;width:20%;"/></a>
	</div>
		
</div>