
<div class="ui secondary pointing menu sticky concept {{n}} inverted" style="margin-top:0px; padding-top:0px">
	<img src="/static/concept{{n}}_menu.svg" style="position:absolute;top:-1px;width:100%"/>
	<a class="ui item" style="margin-top:25px; margin-left:10px" onclick="showc('none');">
      <i class="left arrow big icon"></i>
  </a>
  <div id="{{n}}scrollmenu" class="right menu" style="margin-top:30px">
    <a class="ui active item" href="#{{n}}_start">
      Contexte
    </a>
    <a class="ui item" href="#three_laborne">
      Le Plot
    </a>
    <a class="ui item" href="#three_source">
    	L'information
    </a>
    <a class="ui item" href="#three_appli">
    	Application
    </a>
    <a class="ui item" href="#three_persona">
    	Scénario
    </a>
    <a class="ui item" href="#three_interet">
    	Interêt
    </a>
    <a class="ui item" href="#three_azerty">
    	    
    </a>
  </div>
	
</div>

<div id="contextthree">
	
	<div>
	<img src="/static/images/conect_head.png" style="width:100%"/>
</div>

<div id="three_pourquoi" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;">
	<h4>Pourquoi ?</h4>
	<p class="text">
		Lorsque l’on habite en ville la multiplication des chantiers peut rapidement devenir un problème important.
		Les désagréments associés aux chantiers relève souvent d’un manque de communication en amont et pendant la durée des chantiers, la diffusion de
		l’information se fait encore de manière trop restreinte. Si rien n’est fait de plus en plus de chantiers seront contestés. Les travaux publics sont
		principalement financés par l’argent public issue des collectivités, c’est pourquoi il est nécessaire de communiquer autant de possible sur l’utilisation 
		de cet argent au quotidien ; «En quoi le chantier qui viens d’arriver dans ma rue va apporter quelque chose de nouveau ?».
	</p>
</div>

<div id="three_pourqui" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;padding-bottom:50px;">
	<h4>Pour qui ?</h4>
	<p class="text">
		Si beaucoup de chantiers prennent place en campagne, le réel problème de communication actuel réside dans la ville où la confrontation avec un
		chantier qui laisse peu d’échappatoire et viens s’ajouter aux nuisances de la ville.
		Ce concept s’axe sur la communication auprès des usagers citadins au sens large du terme, qu’ils soient urbain ou péri-urbains, qui se retrouvent un jour ou
		l’autre sur leur trajet quotidien confrontés à un ou plusieurs chantiers.
	</p>
</div>

<div id="three_comment" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;padding-bottom:50px;">
	<h4>Comment ?</h4>
	<p class="text">
		Grâce à Conect, un plot connecté, situé au sein du chantier et d’un service web, la communication entre le chantier et ses usagers se 
		fait de façon claire et intuitive, que ce soit avant même la validation de celui-ci jusqu’à son terme. Il permet aux citadins d’avoir une 
		vue d’ensemble sur les mutations qui les attendent au sein de leur ville sur une période de 2 ans.
	</p>
</div>

<div id="three_laborne" style="text-align:left;padding-right : 10%;padding-left : 10%;background-color:#f2f2f2;margin-bottom:50px;padding-bottom:50px;">
	<div class="ui grid">
		<div class="nine wide column" style="margin-top:50px;">
			<h4>Le Plot</h4>
			<p class="text">
				L’objet prend la forme d’un simple plot de signalisation, comme on en rencontre beaucoup aujourd’hui aux abords des chantiers. L’idée est vraiment de disposer d’un objet de communication facilement transportable et dont la présence ne doit pas nécessairement être visible.
			L’internet des objets à cette finalité où il ne s’agit plus de créer de nouveaux objets aux nouvelles formes mais aussi d’assurer la connectivité et l’augmentation des objets que nous avons déjà l’habitude de côtoyer, ainsi nous évitons la saturation dû à un nombre toujours plus grand d’objets et gadgets en tout genre. Il s’agit ici d’un parti pris fort afin de bien montrer notre volonté d’ancrer l’internet des objets dans notre quotidien d’une façon transparente.
			L’idée est qu’à l’aide d’une simple interaction avec le plot on puisse rendre le chantier actif/inactif sur la plateforme web. Cette dernière rencaissera les chantiers en cours ou à venir le plus tôt possible récupérant les informations des documents administratif tel que les appels d’offres ou les autorisations de voirie. Avoir ces données le plus amont possible permettra de mieux se préparer à la présence du chantier, notamment pour les commerçants qui se plaignent d’être souvent prévenu tardivement.
			</p>
		</div>
		<div class="seven wide column">
			<center><img src="/static/images/3d_cone.png" style="width:75%; margin-top:50px;"/><center>
		</div>
	</div>
</div>

<div style="text-align:left;">
			<img src="/static/images/cone_2.png" style="width:100%;"/>
</div>

<div id="three_source" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;padding-bottom:50px;">
			<h4>Source de l’information</h4>
				<p class="text">
					Après plusieurs échanges avec les professionnels, il nous est apparu que avant même les collectivités, c’était bien l’entreprise qui 
					avait l’information au plus près de la réalité du terrain. L’entreprise dispose de toutes les connaissances possible afin d’informer 
					au mieux les riverains. Dans le cadre de ce service il nous semble aussi important d’inclure les collectivités dans la source notamment 
					sur le point des chantiers en projets qui n’ont donc pas encore d’entreprises associés. La publication d’un appel d’offre pourrait donc 
					très bien entrainer une synchronisation avec le service qui l’intégrerais automatiquement dans sa base de donnée. 
			 </p>
</div>

<div id="three_partage" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;padding-bottom:50px;background-color:#f2f2f2;">
			<h4>Partage de l’information</h4>
				<p class="text">
					Le fait de placer le plot sur le chantier permet de valider son activité sur la carte de navigation. La zone est en effet identifiée 
					au préalable grâce aux plans du géomètre via une application de back office dédiée aux professionnels. Le Plot permet de bien identifier 
					l’activité actuelle du chantier afin de savoir s’il sera vraiment ou non une gêne pour la journée. Des boutons de contrôles sur le plot 
					permettent en effet d’indiquer l’activité ou l’inactivité du chantier, mais aussi la fermeture complète ou partielle d’une route.
					Une zone d’influence est étendue sur un périmètre proche pouvant se voir impacter par l’activité du chantier. Le tout fonctionnant principalement 
					via géolocalisation GPS et 3G afin d’assurer une localisation précise et une bonne transmission.
					Le service internet permettra de consulter des informations tel que la position du chantier, sa durée (estimée et mise à jour au fur et à mesure), 
					sa zone d’influence, son motif. 
					Les données environnementales captées sont elles aussi transmises via 3G et stockées dans un cloud destiné à l’open data. (data Nantes par exemple.)
			 </p>
</div>

<div style="text-align:left;">
			<img src="/static/images/cone_3.png" style="width:100%;"/>
</div>

<div id="three_appli" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;padding-bottom:50px;">
			<h4>Application</h4>
			<p class="text">
				Il s’agit ici du service le plus large des 3 concepts proposés. L’application se présente toujours sous la forme d’une page web multiplateforme
				afin de ne pas avoir à recourir à une installation. Il s’agit surtout ici d’une service dont l’objectif est de devenir un reflexe pour tous les 
				citadins désireux d’avoir des informations sur tel ou tel chantier. 
				La navigation s’ouvre sur une carte de la ville sur laquelle on à la possibilité de retrouvé tous les chantiers sur une période de deux ans. Une 
				hiérarchisation de l’information et un système de calques permet d’affiner au mieux sa recherche. On dénombre plusieurs degrés : les chantiers en projet, 
				les chantiers à venir, les chantiers opérationnels et les chantiers terminés. L’utilisateur à ainsi la possibilité d’avoir accès à un maximum d’informations
				futures, actuelles ou passées.  
				De là on ajoute les informations relatives à chaque chantier : entreprise mandatée, définition du projet, durée des travaux, fermeture partielle ou 
				complète de la rue et déviations envisagées.
				L’une des informations majeur concerne aussi les commerçants touchés par un chantier, ils sont à tour de rôle mis en avant sur l’application et l’utilisateur à
				accès directement sur la carte à leurs horaires d’ouvertures et au moyen le plus simple de les rejoindres (à pieds, en bus, parking à proximité). 
				Enfin l’utilisateur à la possibilité de s’abonner à un chantier en particulier et ainsi chaque jour recevoir le résumé de l’avancement par newsletter ainsi que 
				des alertes concernant les possibles incidents. 
			</p>
</div>



<div id="three_captation" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;padding-bottom:50px;background-color:#4db3c6;">
			<h4 style="color:white">Captation de données</h4>
			<p class="text" style="color:white">
				Nous souhaitons développer une sorte de label de chantiers à hautes qualités environnementales.
				Fournir des informations  concernant les nuisances sonores, les vibrations et la qualité de l’air, ou encore les odeurs dégagées.
				Actuellement aucune communication n’a lieu sur ce point car ce n’est pas encore obligatoire. C’est peut-être un peu jeune mais à
				l’avenir cela peut être nécessaire pour un chantier d’assurer une certaine image de marque environnementale sur les nuisances accompagnant 
				un chantier.
				Le plot disposé sur le site du chantier est équipé de capteurs lui permettant d’effectuer la captation des données. Installé une à deux semaines avant 
				il dispose d’un temps d’adaptation afin d’étalonner les mesures permettant ainsi de réellement discerner l’impact du chantier sur l’environnement direct.

			</p>
</div>

<div id="three_persona" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;padding-bottom:50px;;background-color:#f2f2f2;">
	<div class="ui grid">
		<div class="nine wide column">
			<h4>Persona</h4>
			<p class="text">Yann, 35ans, fonctionnaire dans l’administration.</br>
			Nantes</br></br>
			Yann effectue la quasi totalité de ses déplacements en ville ou en périphérie. Pour raison économique
			il dispose d’un logement assez loin du centre ville et mal desservi par les transports en commun, afin de rejoindre 
			son bureau qui se trouve en plein centre ville il lui est nécessaire de traverser une bonne partie de la ville chaque matin et chaque 
			soir. L’une de ses hantise réside dans la multiplication des chantiers qui viennent faire obstacle à son trajet habituel et bousculent ses habitudes de déplacement. 
			De plus travaillant dans un quartier en constante mutation, ses déplacement en temps que piétons deviennent difficile. Lors de sa pause
			déjeuner il lui devient aujourd’hui de moins en moins facile de trouver un commerçant accessible facilement et il aimerait vraiment être
			mieux informé sur leurs conditions d’ouvertures en période de travaux. 
			</p>
		</div>
		<div class="seven wide column">
			<center><img src="/static/images/yann.png" style="width:80%; margin-top:120px;"/></center>
		</div>
		
	</div>
</div>

<div id="three_journey" style="text-align:left;background-color:#4db3c6;margin-bottom:50px;padding-bottom:50px;">
	
		<h4 style="color:white;margin-left:10%">Journey Map</h4>
			<img src="/static/images/conect_journey.svg" style="margin-left:10%;width:70%;"/>
</div>


<div id="three_mes" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;">
	<h4>Mise en situation</h4>
</div>

	<div id="{{n}}test" class="ui grid concept {{n}} background">
	{% for r in 'xxxxxxxxxxx' %}
			<div class="row">
		{% for c in 'xxxxxxxxxxxxxxxx' %}
			<!--{% if forloop.parentloop.counter0|divisibleby:2 %}
				{% if forloop.counter0|divisibleby:2 %}
				<div class="column" style="opacity: 0.2">
				{% else %} 
				<div class="column black" style="opacity: 0.1">
				{% endif %}
			{% else %}
				{% if forloop.counter0|divisibleby:2 %}
				<div class="column black" style="opacity: 0.1">
				{% else %} 
				<div class="column" style="opacity: 0.2">
				{% endif %}
			{% endif %}-->
				<div class="column"><!--->
					<span class="concept {{n}} case{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }} hide"/><br/>
					<!--({{ forloop.parentloop.counter0 }},{{ forloop.counter0 }})-->
					<br/>
				</div>
		{% endfor %}
			</div>
	{% endfor %}
		</div>
				
		<div class='elements'>
	{% for e in data %}
		<div class="popup toggle div_{{e.2}}" 
			onclick=" $('.info_{{e.2}}.modal').modal('setting', 'transition', 'horizontal flip').modal('show');" 
			data-html='{{e.6}}' 
			style='position: absolute; width:100%; transform: scale({{e.4}}) rotate({{e.5}}deg);'></div>
	{% endfor %}
		</div>
		
		<div id="three_interet" style="text-align:left;padding-right : 10%;padding-left : 10%;margin-bottom:50px;padding-bottom:50px;">
			<h4>Interêt</h4>
			<p class="text">
				Il s’agit ici du service le plus large des 3 concepts proposés. L’application se présente toujours sous la forme d’une page web multiplateforme
			Conect s’ancre à un degré de diffusion de l’information plus important que les deux autres concept en offrant une visibilité globale 
			aux chantiers de la ville. Ce service concilie les entreprises entre elles sous l’égide des collectivités qui assure une cohésion dans la
			présentation et le traitement des informations sur le service en ligne. 

			</p>
</div>
		
		<div id="three_next" style="background-color:#4db3c6;">
					<h4 style="color:white;text-align:right;margin-right:50px;" onclick="showc('conclusion');">Conclusion</h4>
		</div>
		
</div>