
<style type="text/css">
.myHeader {
  background-color : orange;
  vertical-align : top;
  text-align : center;
  color : white;
  height : 50px;
}
</style>

<div class="ui grid sticky myHeader">
  <div class="column" onclick="openmenu();">
  </div>
  <div class="ui two wide button column" onclick="openmenu();" style="background-color:orange;">
    <i class="content icon large white"></i>
  </div>
  <div class="ten wide column" onclick="openmenu();">
    <center style="font-size: 20px">Indawo</center>
  </div>
</div>
