{% extends "page_base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}

	<style type="text/css">
		body {
			background-color: orange;
		}
	</style>
  
  {% include "menu.html" %}
	
  <div class="pusher">
  	
  	{% include "header.html" %}
  	
		<div class="ui button huge circular icon orange sticky bottom myButton">
			<i class="home icon large white"></i>
		</div>
		
		<div  id="context" style="padding-top:60px">
	  	{% for el in data %}
	  		{% include "card.html" with card=el %}
		  {% endfor %}
		</div>
		
	
  </div>
	
	<script src="/static/slowscrolltoancre.js"></script>
	<script>
	
		function openmenu() {
			$('.sidebar')
			  .sidebar('setting', {
			  		transition: 'push',
			  		onChange: function(){
			  			$('.menubutton').transition('fade');
			  		}
			  	})
			  .sidebar('toggle');
		}
		
		$(function() {
			
			$('.sidebar')
			  .sidebar('setting', 'transition', 'push');
			
			$('.ui.sticky')
			  .sticky({
			    context: '#context'
			  })
			;
			
			$('.myButton').attr('style','margin-left:'+(window.screen.width - 0.22*window.screen.width)+'px;margin-top:'+(window.screen.height - 0.22*window.screen.height)+'px;');
			
			slowscrolltoancre();
			
			$( "svg" ).each(function(index) {
				
					var parent = $(this).parent();
					$(this).attr('class', parent.attr('class'));
					//parent.attr('class','');
					
				});
				
		});
		
	</script>

{% endblock %}